.btn {
    width: 150px;
    height: 30px;
    margin: auto;
    border: none;
    border-radius: 10px;
    color: #fff7ee;
    background-color: rgba(218, 163, 62, 0.7);
    transition: background-color 500ms cubic-bezier(.17,.67,.83,.67);
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(255, 166, 0);
}