.form {
    display: flex;
    width: 400px;
    padding: 30px 0;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-bottom: 80px;
    background-color: rgb(178, 223, 223, 0.7);
    border-radius: 10px;
}

